.form-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
}

.form {
  display: flex;
  align-items: center;
}

.form-container input {
  width: 300px;
  padding: 10px 10px 10px 20px;
  border-radius: 6px;
  font-size: 20px;
  outline: 0.5px solid black;
  border: solid 0.5px white;
  color: black;
}

/* .form-container input:focus {
  outline: 0.5px solid orangered;
} */

.form-container button {
  padding: 13px 20px 13px 20px;
  font-size: 16px;
  background-color: orangered;
  border-radius: 5px;
  margin-left: 4px;
  color: white;
  border: none;
}

@media (max-width: 500px) {
  .form-container input {
    width: 100%;
  }
}
