.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 500px;
  margin: 25px auto;
  background-color: #21242b;
}

.city-btn {
  display: flex;
  align-items: center;
  color: white;
  font-size: 25px;
  list-style-type: none;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  border: 0.5px solid white;
  margin-left: 10px;
  margin-top: 10px;
  cursor: pointer;
}

.image-container {
  width: 30px;
  height: 30px;
  margin-left: 8px;
  border-radius: 19px;
}

.image-container:hover {
  background-color: #3f4452;
}

.image-container img {
  width: 15px;
  height: 15px;
  margin-left: 8px;
}

@media (max-width: 500px) {
  .container {
    width: 300px;
  }

  .city-btn {
    font-size: 20px;
    padding: 5px 5px 5px 5px;
  }

  .image-container {
    display: flex;
    align-items: center;
  }
}
